@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');

body{
    background-color: #ccc;
    font-family: 'Oswald', sans-serif;
}
.wrapper{
    margin: 0 auto;
    background-color: #fff;
    width: 500px;
    padding: 50px;
    border-radius: 5px;
    margin-top: 100px;
}

input[type='text'], input[type='password']{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.btn{
    background-color: #0A80F0;
    padding: 10px;
    border: 1px solid #0A80F0;
    border-radius: 3px;
    color: #fff;
    font-size: 20px;
    

}

